#nav {
  /display: none;
}
/* 375px */
@media screen and (min-width: 375px){
/* Header */
  #header {
    margin-bottom: 12%;
  }
  
  #header section > img {
    width: 42%;
  }
  
  #header > img {
    transform: rotate(-5deg);
  }
  
  #header article > p {
    margin-top: 20%;
  }
  
/*  Notilus  */
  #notilus {
    margin-top: 30%;
  }
  
/* Footer */
  footer section > div > a i {
   margin: 0 5.5%;
  }
}


/* 425px */
@media screen and (min-width: 425px){
    
/* Header */
  #header {
    margin-bottom: 10%;
  }
  
  #header section > img {
    width: 50%;
  }
  
  #header h1 {
    width: 70%;
  }
  
  #header > img {
    transform: rotate(-8deg);
    width: 100%;
  }
  
  
/* Footer */
  footer section > div > a i {
    margin: 0 4.5%;
  }
}

/* 768px */
@media screen and (min-width: 768px){
  html {font-size:  12px;}
  
/* Header */
  #header {
    margin-bottom: 20%;
  }
  
  #header > img {
    transform: rotate(-5deg);
    transform-origin: right top;
    margin: auto;
  }
  
  #header h1 {
    width: 100%;
  }
  
  #header article > p {
    width: 100%;
    margin-top: 0;
  }
  
  #header section > img {
    width: 40%;
  }
  
  #header article > a {
    position: relative;
    width: 30%;
    margin-top: 5%;
  }
  
  #header article > a:last-child {
    left: 0;
    margin-left: 3%;
  }
  
/*  About NOtilus & Lovely Words  */
  #notilus {
    position: relative;
    margin-top: 30%;
  }
  .sidebar-feature {
    position: relative;
  }
  
  .sidebar-feature > h2 {
    text-align: center;
  }
  
  .sidebar-feature > p {
    text-align: center;
  }
  
  .sidebar-feature > article {
    position: relative;
  }
  
  .sidebar-feature > article > section {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  
/*  Lovely  */
  #lovely .sidebar-feature {
    padding: inherit;
  }
  
/*  Counter  */
  #counter article {
    display: inline-block;
  }
  
  #counter article img,
  #counter article footer{
    display: block;
    margin: 0 auto;
  }
  
  #counter article img {
    margin-bottom: 10%;
    width: 20%;
  }
  
/*  Awesome Features   */
  #feature-box > h2 {
    text-align: center;
  }
  
  #feature-box > p {
    text-align: center;
  }
  
  
   #feature-box section:nth-of-type(1)  {
    display: inline-block;
    float: none;
    vertical-align: middle;
     padding: 0;
  }

  #feature-box section:nth-of-type(2) {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0;
  }
  
  
  #feature-box article div {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 42%;
  }
  
  #feature-box article div > img {
    width: 40%;
  }
  
  #feature-box article p {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 57%;
  }
  
/*  Video  */
  #video div,
  #video article {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  
/*  Screenshots  */
  .slider > h2 {
    text-align: center;
  }
  
  .slider > p {
    text-align: center;
    float: none;
    margin-bottom: 5%;
  }
  
  .slider .section-1,
  .slider .section-3 {
    display: inline-block;
  }
  
  .slider div a {
    margin: 0;
  }
  
/*  Team  */
 #team {
    padding-bottom: 30%;
  }
  #team header > h2 {
    text-align: center;
  }
  
 #team .team-slider section {
   display: inline-block;
   width: 27%;
   vertical-align: top;
   height: 100%;
   float: none;
   margin-top: 5%;
}

#team .team-slider img {
  height: 70%;
}

#team .slider-image-container {
  height: 100%;
}

#team .section-1 img,
#team .section-3 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#team .team-slider .section-2 img {
  height: 100%;
}
  
  #team .team-slider section:nth-child(even) footer{
    display: none;
  }
  
  #team footer {
    height: 50%;
    display: block;
  }
  
  .nav-icon-position {
    margin-top: 5%;
    height: 100%;     /* Match height of the .slider-image-container */
    display: inline-block;
    float: none;
}
  
/*  Pricing  */
  #pricing > h2,
  #pricing > p {
    text-align: center;
    float: none;
  }
  
  #pricing article {
    width: 22%;
    margin: 3% 4% 0;
    vertical-align: top;
  }
  
/*  Download  */
  #download section:first-child {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  #download section:nth-of-type(2) {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  #download section:first-child img {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }
  
  #download section:first-child p {
    width: 65%;
    vertical-align: middle;
    text-align: left;
    margin-left: 8%;
  }
  
  #download a {
    display: inline-block;
    width: 85%;
    margin: 10% 0;
  }
  
  #download > img {
    width: 50%;
    float: none;
    opacity: 1;
    right: -7%;
  }
  
/*  Forms  */
  #form > h2 {
    margin-top: 10%;
    text-align: center;
  }
  
  #form > div {
    width: 738px;
    margin: auto;
    /margin-left: 0;
    /margin: 0 auto;
    /float: none;
  }
  #form form:first-child {
    box-sizing: border-box;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  #form form:last-child div > input {
    display: inline-block;
    width: 47.25%;
  }

/* Footer */
  footer {
    margin-bottom: 0;
  }
  
  footer > div > section:first-child,
  footer > div > section:last-child {
    text-align: center;
  }
  
  footer section > div > a i {
    margin: 0 2%;
  }
  
  footer > a {
    bottom: 20%;
  }
}


/* 992px */
@media screen and (min-width: 992px){
  html {font-size:  14px;}
  
/*  Header  */
  #header > img {
    transform: rotate(0deg);
    transform-origin: left top;
  }
  
  /*  Notilus  */
  #notilus {
    margin-top: 30%;
  }
/*  Forms  */
  #form > div {
    width: 970px;
  }
}


/* 1200px */
@media screen and (min-width: 1200px){
  html {font-size:  16px;}
  /*  Notilus  */
  #notilus {
    margin-top: 35%;
  }
/*  Forms  */
  #form > div {
    width: 1170px;
  }
}
  